.footer-container {
  display: block;
  padding-top: 20px;
  width: 100%;
  background-color: #323232;
  background-image: #323232;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 20px;
  color: white;
  font-family: 'Verdana';
  text-align: Left;
}


.tribute{
  padding-top: 10%;
  width: 100%;
  text-align: left;
}