.recipes-container {
	color: #435757;
	background: linear-gradient(-20deg, #d0b782 20%, #a0cecf 80%);
}

.recipe_buttons:hover {
	border: solid 6px #e74c3c;
	padding: 0.4rem 0.6rem;
	margin: 0 0.2rem;
	border-radius: 2px;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 900;
	margin-left: 1rem;
	moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}